<div th:fragment="footer">
    <section class="footer footer-3 pt-15">
        <div class="footer-mid">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-sm-8 me-auto">
                        <div class="widget footer-widget mb-5 mb-lg-0">
                            <div class="footer-logo">
                                <img src="https://img.jobeast.com/img/10/2016/11/17/2fd7907195c64948a8a26fb50d2d4d38-1600x1424.jpg" alt="" class="img-fluid">
                            </div>

                            <p class="mt-4">Edumel is a Bootstrap Template for online courses
                                education websites support multiple courses</p>
                        </div>
                    </div>


                    <div class="col-xl-2 col-sm-4">
                        <div class="footer-widget mb-5 mb-lg-0">
                            <h5 class="widget-title ">Тесты</h5>
                            <ul class="list-unstyled footer-links">
                                <li><a href="/rise">Тест по личностому росту</a></li>
                                <li><a href="/riseJava">Тест по джава</a></li>
                                <li><a href="/riseHumor">Тест по юмору</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-2 col-sm-4">
                        <div class="footer-widget mb-5 mb-lg-0">
                            <h5 class="widget-title">Контактная информация</h5>
                            <ul class="list-unstyled footer-links">
                                <li><a href="#">+375298100125</a></li>
                                <li><a href="#">kenovladz@gmail.com</a></li>
                                <li><a href="#">Minsk, Business Center SOLO</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-btm-top">
            <a href="#top-header" class="js-scroll-trigger scroll-to-top"><i class="fa fa-angle-up"></i></a>
        </div>

    </section>
</div>
    <!-- Footer section End -->