<div th:fragment="header">
    <header class="header-style-1">
        <div class="header-topbar topbar-style-2">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-8 col-lg-6 col-md-12">
                        <div class="header-contact text-center text-lg-start d-none d-sm-block">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <span class="text-color me-2"><i class="fa fa-phone-alt"></i></span><a href="tel:+375298100125"> +3758100125</a>
                                </li>

                                <li class="list-inline-item">
                                    <span class="text-color me-2"><i class="fa fa-envelope"></i></span><a href="kenovladz@gmail.com"> kenovladz@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-12">
                        <div class="d-sm-flex justify-content-center justify-content-lg-end">
                            <div class="header-socials text-center text-lg-end">
                                <ul class="list-inline">
                                    <a href="/result">Просмотреть результаты</a>
                                </ul>
                                <ul class="list-inline">
                                    <a href="/index">Главная</a>
                                </ul>
                            </div>

                            <div class="header-btn text-center text-lg-end">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>